//bg-colors

$bg-violet: #b07cf7;
$bg-green: #96b92c;
$bg-yellow: #ffe92f;
$form-blue: #00c4c4;
$bg-red: #f72b3b;
$bg-blue: #70bfff;
$bg-aquamarine: #00bdbd;
$bg-orange: #ff6033;
$bg-dark-blue: #5585a2;
